<h2>Edit <%=@book.title%> by <%=@book.author%></h2>
<form method="post" action="/books/<%= @book.id %>">

  <label for="author-select"> Select author: </label>
    <select id="author-select" type="text" name="author_id">
      <% for author in @authors %>
      <% if author.id == @book.author_id %>
        <option selected="selected" value="<%= author.id%>"> <%= author.full_name %></option>
        <% else %>
        <option value="<%= author.id%>"> <%= author.full_name %></option>
      <% end %>
      <% end %>
    </select>

  <label for="title"> Title: </label>
  <input id="title" type="text" name="title"
    value="<%= @book.title %>"
  />

  <label for="genre-select"> Select genre: </label>
    <select id="genre-select" type="text" name="genre_id">
      <% for genre in @genres %>
      <% if genre.id == @book.genre_id %>
        <option selected ="selected" value ="<%= genre.id%>"> <%= genre.type %></option>
        <% else %>
        <option value="<%= genre.id%>"> <%= genre.type %></option>
      <% end %>
      <% end %>
  </select>

  <label for="language-select"> Source language: </label>
  <select id="language-select" type="text" name="source_language_id">
    <% for source_language in @source_languages %>
    <% if source_language.id == @book.source_language_id %>
      <option selected ="selected" value ="<%= source_language.id%>"> <%= source_language.language %></option>
    <% else %>
    <option value="<%= source_language.id%>"> <%= source_language.language %></option>
  <% end %>
  <% end %>
</select>

  <label for="quantity"> Set quantity: </label>
  <input id="quantity" type="number" name="quantity"
    value="<%= @book.quantity %>"
  />

  <label for="buy-price"> Buy price: </label>
  <input id="buy-price" type="number" name="buy_price"
    value="<%= @book.buy_price %>"
  />

  <label for="sell-price"> Sell price: </label>
  <input id="sell-price" type="number" name="sell_price"
    value="<%= @book.sell_price %>"
   />

   <label for="cover-image"> Cover image: </label>
   <input id="cover-image" type="text" name="cover_image"
     value="<%= @book.cover_image %>"
    />

  <input type="submit" value="Update book" />

</form>
