<h2><%=@book.title%> by <%=@book.author %></h2>


<fig>
    <%@book.check_cover_image%>
    <img src="<%= @book.cover_image %>" alt="Cover image of <%@book.title%>" class="big-cover-image">
    <ul>
      <li> Genre:
        <%= @book.genre %>
      </li>
      <li> Source language:
        <%= @book.source_language %>
      </li>
    </ul>
</fig>

<table>
  <tr>
    <th>Stock</th>
    <th>In stock</th>
    <th>Buy price</th>
    <th>Sell price</th>
    <th>Markup</th>
  </tr>
  <tr>
    <td>
      <span class="<%= @book.stock_level.downcase %>"><%= @book.stock_level %></span>
    </td>
    <td><%= @book.quantity %></td>
    <td><%= @book.buy_price %></td>
    <td><%= @book.sell_price %></td>
    <td><%= @book.markup %></td>
  </tr>
</table>

<p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p>
<form method="post" action="/books/<%= @book.id %>/delete">
  <input type="submit" value="Delete Book"/>
</form>


<footer>
  <ul>
    <li>
      <a href="/books/<%=@idplusone%>">Next book</a>
    </li>
    <li>
      <a href="/books/<%=@idminusone%>">Previous book</a>
    </li>
  </ul>
</footer>
