<h2><%=@book.title%> by <%=@book.author %></h2>


<fig>
    <%
      cover = @book.cover_image
      if cover == ''
        cover = 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/2000px-Blue_question_mark_icon.svg.png'
      end
    %>
    <img src="<%= cover %>" alt="Cover image of <%@book.title%>" class="big-cover-image">

    <ul>
      <li> Genre:
        <%= @book.genre %>
      </li>
      <li> Source language:
        <%= @book.source_language %>
      </li>
    </ul>
</fig>

<table>
  <tr>
    <th>Stock</th>
    <th>In stock</th>
    <th>Buy price</th>
    <th>Sell price</th>
    <th>Markup</th>
  </tr>
  <tr>
    <td><%= @book.stock_level %></td>
    <td><%= @book.quantity %></td>
    <td><%= @book.buy_price %></td>
    <td><%= @book.sell_price %></td>
    <td><%= @book.markup %></td>
  </tr>
</table>

<p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p>
<form method="post" action="/books/<%= @book.id %>/delete">
  <input type="submit" value="Delete Book"/>
</form>



<p><a href="/books/<%=@idplusone%>">Next book</a></p>

<p><a href="/books/<%=@idminusone%>">Previous book</a></p>
