<h2>Low stock books</h2>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Cover</th>
    <th>Stock</th>
    <th>Action</th>
  </tr>
  <% for book in @books %>
  <%if book.stock_level == "Low"%>
  <tr>
    <td><%= book.author %></td>
    <td><%= book.title %></td>
    <td><img src="<%= book.cover_image %>" alt="Cover image of <%book.title%>" class="cover-image"></td>
    <td><%= book.stock_level %></td>
    <td><a href="/books/<%= book.id %>">View book</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
